<h1>Listing citations</h1>

<table>
  <tr>
    <th>Citation</th>
  </tr>

<% @citations.each do |citation| %>
  <tr>
    <td><%=h citation.citation %></td>
    <td><%= link_to 'Show', citation %></td>
    <td><%= link_to 'Edit', edit_citation_path(citation) %></td>
    <td><%= link_to 'Destroy', citation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New citation', new_citation_path %>