<p>
  <b>Referencetype:</b>
  <%=h @eval_reference.referencetype %>
</p>

<p>
  <b>Address:</b>
  <%=h @eval_reference.address %>
</p>

<p>
  <b>Annotate:</b>
  <%=h @eval_reference.annotate %>
</p>

<p>
  <b>Author:</b>
  <%=h @eval_reference.author %>
</p>

<p>
  <b>Booktitle:</b>
  <%=h @eval_reference.booktitle %>
</p>

<p>
  <b>Chapter:</b>
  <%=h @eval_reference.chapter %>
</p>

<p>
  <b>Crossref:</b>
  <%=h @eval_reference.crossref %>
</p>

<p>
  <b>Edition:</b>
  <%=h @eval_reference.edition %>
</p>

<p>
  <b>Editor:</b>
  <%=h @eval_reference.editor %>
</p>

<p>
  <b>Howpublished:</b>
  <%=h @eval_reference.howpublished %>
</p>

<p>
  <b>Institution:</b>
  <%=h @eval_reference.institution %>
</p>

<p>
  <b>Journal:</b>
  <%=h @eval_reference.journal %>
</p>

<p>
  <b>Key:</b>
  <%=h @eval_reference.key %>
</p>

<p>
  <b>Month:</b>
  <%=h @eval_reference.month %>
</p>

<p>
  <b>Note:</b>
  <%=h @eval_reference.note %>
</p>

<p>
  <b>Number:</b>
  <%=h @eval_reference.number %>
</p>

<p>
  <b>Organization:</b>
  <%=h @eval_reference.organization %>
</p>

<p>
  <b>Pages:</b>
  <%=h @eval_reference.pages %>
</p>

<p>
  <b>Publisher:</b>
  <%=h @eval_reference.publisher %>
</p>

<p>
  <b>School:</b>
  <%=h @eval_reference.school %>
</p>

<p>
  <b>Series:</b>
  <%=h @eval_reference.series %>
</p>

<p>
  <b>Title:</b>
  <%=h @eval_reference.title %>
</p>

<p>
  <b>Type:</b>
  <%=h @eval_reference.type %>
</p>

<p>
  <b>Volume:</b>
  <%=h @eval_reference.volume %>
</p>

<p>
  <b>Year:</b>
  <%=h @eval_reference.year %>
</p>


<%= link_to 'Edit', edit_eval_reference_path(@eval_reference) %> |
<%= link_to 'Back', eval_references_path %>