<h1>Listing evaluation_citations</h1>

<table>
  <tr>
    <th>Citation</th>
  </tr>

<% @evaluation_citations.each do |evaluation_citation| %>
  <tr>
    <td><%=h evaluation_citation.citation %></td>
    <td><%= link_to 'Show', evaluation_citation %></td>
    <td><%= link_to 'Edit', edit_evaluation_citation_path(evaluation_citation) %></td>
    <td><%= link_to 'Destroy', evaluation_citation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New evaluation_citation', new_evaluation_citation_path %>