<%= javascript_include_tag 'prototype' %>

<%= javascript_include_tag 'evaluation/abstract_comparison_table' %>
<%= javascript_include_tag 'evaluation/abstract_record' %>
<%= javascript_include_tag 'evaluation/record' %>
<%= javascript_include_tag 'evaluation/record_comparison_table' %>
<%= javascript_include_tag 'evaluation/application' %>

<h1>Evaluation#index</h1>
<div id="citation-container">
	Citation: <span id="citation">test</span>	
</div>

<div id="comparison-container">
	<div id="comparison-table-container">
		
	</div>
</div>
 